{% extends 'base.html' %}


{% block title %} Administração {% endblock %}

{% block main %}

    <div class="row">
        <div class="col-4">
             {% if user.is_authenticated %}
                    <h1>Ola {{ user.username }}</h1>
                  <a href="{% url 'logout' %}"class="btn btn-primary">Sair</a>
             {% endif %}

        </div>
         <div class="col-4">
             <ul class="list-group">
                    {% for person in people  %}
                        <li class="list-group-item">
                            <a href="{% url 'persons_update' person.id %}"> {{ person.first_name }} {{ person.last_name }}</a>
                            <a href="{% url 'persons_delete' person.id %}">
                                <i class="fas fa-trash" aria-hidden="true" ></i>

                            <a/>
                        </li>
               {% endfor %}
    </ul>

    <br>

    <a href="{% url 'person_new' %}"class="btn btn-primary" >Novo Cliente</a>
         </div>
         <div class="col-9">

         </div>
    </div>

{% endblock %}